<template>
<div>
  <wj-header />

  <main>
    <el-row type="flex" justify="center">
      <el-col :span="6">
        <p v-if="success">激活成功，现在请<router-link :to="{name: 'Login'}">登录</router-link></p>
        <div v-else>
          <el-form :model="activate" ref="activateForm">
            <el-form-item label="电子邮箱">
              <el-input v-model="activate.email" placeholder="激活电子邮箱"></el-input>
            </el-form-item>
            <el-form-item label="激活验证码">
              <el-input v-model="activate.email" placeholder="激活验证码"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="activateSubmit">立即激活</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
    </el-row>
  </main>

  <wj-footer />
</div>

</template>

<script lang="js">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Activate extends Vue {
  activate = {};
  success = false;

  rules = {
    email: [
      { required: true, message: '请输入电子邮箱', trigger: 'blur' },
      { pattern: /\w+@\w+\.\w+/, message: '电子邮箱格式不正确', trigger: 'blur' },
    ],
    code: [
      { required: true, message: '请输入验证码', trigger: 'blur' },
    ],
  };

  async created() {
    this.activate = this.$route.query;
    this.activateSubmit();
  }

  async activateSubmit() {
    if (this.activate.email && this.activate.code) {
      if (this.$refs.activateForm) {
        const valid = await this.$refs.activateForm.validate();
        if (!valid) { return; }
      }

      try {
        await this.$http.post('/api/activate', this.activate);
        this.success = true;
      } catch (err) {
        this.success = false;
        this.$message.error(err.response.data.message);
      }
    }
  }
}
</script>

<style scoped lang="scss">

</style>
