<template>
<div>
  <wj-header />

  <main>
    <el-row type="flex" justify="center">
      <el-col :span="6">
        <el-card>
        <el-tabs value="password_login">
          <!-- <el-tab-pane label="短信登录" name="sms_login">
            <el-form>
              <el-form-item>
                <el-input v-model="account.mobile" placeholder="手机号码"></el-input>
              </el-form-item>
              <el-form-item>
                <el-input type="password" v-model="account.password" placeholder="验证码">
                  <el-button type="text" slot="suffix" disabled>获取验证码</el-button></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary">立即登录</el-button>
              </el-form-item>
            </el-form>
          </el-tab-pane> -->
          <el-tab-pane label="密码登录" name="password_login">
            <el-form :model="account" :rules="rules" ref="paswordLoginForm">
              <el-form-item prop="loginName">
                <el-input v-model="account.loginName" placeholder="手机/电子邮箱"></el-input>
              </el-form-item>
              <el-form-item prop="password">
                <el-input type="password" v-model="account.password" placeholder="密码"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="passwordLogin">立即登录</el-button>
              </el-form-item>
            </el-form>
          </el-tab-pane>
        </el-tabs>
        </el-card>
      </el-col>
    </el-row>
  </main>

  <wj-footer />
</div>

</template>

<script lang="js">
import { Component, Vue } from 'vue-property-decorator';
import store from 'store';
import axios from 'axios'

@Component
export default class Login extends Vue {
  account = {};

  rules = {
    loginName: [
      { required: true, message: '请输入手机或电子邮箱', trigger: 'blur' },
      { min: 5, max: 50, message: '长度在 5 到 50 个字符', trigger: 'blur' },
    ],
    password: [
      { required: true, message: '请输入密码', trigger: 'blur' },
    ],
  };

  async passwordLogin() {
    const valid = await this.$refs.paswordLoginForm.validate();
    if (valid) {
      try {
        const res = await axios.post('/api/login', this.account);
        store.set('auth', res.data);
        const path = this.$route.query.return || 'http://auth.wenjiu.io/sso.iframe.html';
        window.location.href = path;
      } catch (error) {
        this.$message.error(error.response.data.message);
      }
    }
  }
}
</script>

<style scoped lang="scss">

</style>
