<template>
<div>
  <wj-header />

  <main>
    <div class="container">
      <el-card>
      <el-row :gutter="32">
        <el-col :span="14" style="padding-right: 80px; border-right: solid 1px #eee">
          <el-form label-width="200px" :rules="rules" ref="signupForm" :model="account">
            <el-form-item label="显示名称" prop="name">
              <el-input v-model="account.name" placeholder="为了更好的线下服务，请输入真实姓名"></el-input>
            </el-form-item>
            <el-form-item label="设置密码" prop="password">
              <el-input type="password" v-model="account.password" placeholder="建议至少使用两种组合"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="passwordConfirm">
              <el-input type="password" v-model="account.passwordConfirm" placeholder="请再次输入密码"></el-input>
            </el-form-item>
            <el-form-item label="电子邮箱" prop="email">
              <el-input v-model="account.email" placeholder="这将是您的账户名和登录名, 格式如: wenjiu@shop.com"></el-input>
            </el-form-item>
            <el-form-item label="邮箱验证码" prop="emailVeriCode" :error="emailVeriCodeError">
              <el-input v-model="account.emailVeriCode" placeholder="请输入验证码">
                <el-button type="text" slot="suffix" :disabled="!isValidEmail() || emailCountdowning" @click="sendEmailVeriCode">
                  <wj-countdown :ticks='emailRetryAfter' on-text="请在#{data}后重试" off-text="获取验证码" ref="emailCountdown" />
                </el-button>
              </el-input>
            </el-form-item>
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="account.phone" placeholder="建议使用常用手机"></el-input>
            </el-form-item>
            <el-form-item label="手机验证码" prop="smsVeriCode" :error="smsVeriCodeError">
              <el-input v-model="account.smsVeriCode" placeholder="请输入验证码">
                <el-button type="text" slot="suffix" :disabled="!isValidPhone() || smsCountdowning" @click="sendSmsVeriCode">
                  <wj-countdown :ticks='smsRetryAfter' on-text="请在#{data}后重试" off-text="获取验证码" ref="smsCountdown" />
                </el-button>
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submit">立即注册</el-button>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="10">
          <h5>使用以下账号直接登录</h5>
          <p style="margin: 30px">
            <el-button type="success" plain>微信注册</el-button>
          </p>
          <p style="margin: 30px">
            <el-button type="warning" plain>QQ注册</el-button>
          </p>
          <div>已有账号？<router-link :to="{name: 'Login'}">现在登录</router-link></div>
        </el-col>
      </el-row>
      </el-card>
    </div>
  </main>

  <wj-footer />
</div>
</template>

<script lang="js">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

const EMAIL_PATTERN = /\w+@\w+\.\w+/;
const PHONE_PATTERN = /\d{11}/;

@Component
export default class Signup extends Vue {
  account= {};

  rules = {
    name: [
      {required: true, message: '名称不能为空', trigger: 'blur'},
    ],
    password: [
      {required: true, message: '密码不能为空', trigger: 'blur'},
      {min: 6, message: '密码至少为6位', trigger: 'blur'},
    ],
    passwordConfirm: [
      {required: true, message: '确认密码不能为空', trigger: 'blur'},
      {validator: this.validatePasswordConfirm, trigger: 'blur'},
    ],
    email: [
      {required: true, message: '电子邮箱不能为空', trigger: 'blur'},
      {pattern: EMAIL_PATTERN, message: '电子邮箱格式不正确', trigger: 'blur'},
    ],
    emailVeriCode: [
      {required: true, message: '验证码不能为空', trigger: 'blur'},
      {validator: this.validateEmailVeriCode, trigger: 'blur'},
    ],
    phone: [
      {required: true, message: '手机号不能为空', trigger: 'blur'},
      {pattern: PHONE_PATTERN, message: '手机号应该为11位数字', trigger: 'blur'},
    ],
    smsVeriCode: [
      {required: true, message: '验证码不能为空', trigger: 'blur'},
      {validator: this.validateSmsVeriCode, trigger: 'blur'},
    ],
  };

  validatePasswordConfirm(rule, value, callback) {
    if (this.account.password === value) {
      callback();
    } else {
      callback(new Error('请输入一致的密码'));
    }
  }

  async validateSmsVeriCode(rule, value, callback) {
    if (!this.account.phone) {
      callback(new Error('请同时输入手机号码'));
    }
    try {
      await axios.get(`/api/verify?phone=${this.account.phone}&code=${this.account.smsVeriCode}`);
      callback();
    } catch (err) {
      callback(new Error(err.response.data.message));
    }
  }

  async validateEmailVeriCode(rule, value, callback) {
    if (!this.account.email) {
      callback(new Error('请同时输入电子邮箱'));
    }
    try {
      await axios.get(`/api/verify?email=${this.account.email}&code=${this.account.emailVeriCode}`);
      callback();
    } catch (err) {
      callback(new Error(err.response.data.message));
    }
  }

  isValidPhone() {
    return this.account.phone && PHONE_PATTERN.test(this.account.phone);
  }

  isValidEmail() {
    return this.account.email && EMAIL_PATTERN.test(this.account.email);
  }

  smsCountdowning = false;
  smsRetryAfter = 60 * 5;
  smsVeriCodeError = null;

  async sendSmsVeriCode() {
    try {
      await axios.post('/api/verify', {phone: this.account.phone});
      this.$refs.smsCountdown.start();
      this.smsCountdowning = true;
    } catch (err) {
      this.smsVeriCodeError = err.response.data.message;
    }
  }

  emailCountdowning = false;
  emailRetryAfter = 60 * 20;
  emailVeriCodeError = null;
  async sendEmailVeriCode() {
    try {
      await axios.post('/api/verify', {email: this.account.email});
      this.$refs.emailCountdown.start();
      this.emailCountdowning = true;
    } catch (err) {
      this.emailVeriCodeError = err.response.data.message;
    }
  }

  async submit() {
    const valid = await this.$refs.signupForm.validate();
    if (!valid) { return; }

    await axios.post('/api/signup', this.account);
    this.$router.push({name: 'Login'});
    this.$message.success('注册成功，请查看您的电子邮箱来激活账户.');
  }
}
</script>

<style scoped>

</style>
