<template>
  <span v-if="on">{{onTextFormatted}}</span>
  <span v-else>{{offText || onTextFormatted}}</span>
</template>

<script lang="js">
import Vue from 'vue';
import Component from 'vue-class-component';

const MINUTE = 60;
const HOUR = 60 * MINUTE;
const DAY = 24 * HOUR;

const I18N = {
  CN: {
    days: '天',
    hours: '小时',
    minutes: '分',
    seconds: '秒',
  },
  EN: {
    days: ' days ',
    hours: ' hours ',
    minutes: ' minutes ',
    seconds: ' seconds ',
  },
};

@Component({
  name: 'wj-countdown',
  props: {
    ticks: {type: Number, required: true},
    onText: {type: String, default: '#{data}'},
    offText: {type: String},
    locale: {type: String, default: 'CN'},
  },
})
export default class Countdown extends Vue {
  time = this.ticks;
  on = false;

  get onTextFormatted() {
    let remaning = this.time;
    const days = parseInt(remaning / DAY, 10);
    remaning %= DAY;
    const hours = parseInt(remaning / HOUR, 10);
    remaning %= HOUR;
    const minutes = parseInt(remaning / MINUTE, 10);
    remaning %= MINUTE;
    const seconds = remaning;
    console.log('%d %d %d %d', days, hours, minutes, seconds);
    let text = '';
    if (days > 0) {
      text += `${days}${I18N[this.locale].days}`;
    }
    if (hours > 0) {
      text += `${hours}${I18N[this.locale].hours}`;
    }
    if (minutes > 0) {
      text += `${minutes}${I18N[this.locale].minutes}`;
    }
    if (seconds >= 0) {
      text += `${seconds}${I18N[this.locale].seconds}`;
    }
    return this.onText.replace('#{data}', text);
  }

  start() {
    if (this.on) { return; }
    const timer = setInterval(() => {
      this.time -= 1;
      if (this.time === 0) {
        this.$emit('off');
        this.on = false;
        clearInterval(timer);
        this.time = this.ticks;
      }
    }, 1000);
    this.$emit('on');
    this.on = true;
  }
}
</script>
