<template>
<nav class="navbar navbar-default navbar-static-top ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <span style="font-size: .8em"><img width="35" src="~@/assets/images/logo.svg"/> 账户中心</span>
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
</template>


<script lang="js">
import Vue from 'vue';
import Component from 'vue-class-component';
import store from 'store';
@Component({name: 'wj-header'})
export default class Header extends Vue {
  get auth() {
    return store.get('auth');
  }
  get isAdmin() {
    return this.auth.roles.indexOf('ADMIN') !== -1;
  }
  get logined() {
    return this.auth && this.auth.token && this.auth.name && this.auth.id;
  }
  goDian() {
    if (this.logined) {
      if (this.isAdmin) {
        this.$router.push({path: '/dian'});
      } else {
        this.$router.push({path: '/kaidian'});
      }
    } else {
      this.$router.push({path: '/login?return=/kaidian'});
    }
  }
  onSubmit() {
    this.$router.push({name: 'Nearby'});
  }

  get currentUrl() {
    return window.location;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.navbar {
  /* background: #1FBCD3;  */
  background: teal!important;
  color: #FFFFFF;
  border-bottom: 0px;
  margin-bottom: 0px;
}
.navbar a {
  color: #ffffff!important;
}
.navbar .active a {
  /* background: rgba(31, 188, 211, 0.8)!important; */
  background: teal!important;
}
</style>
