/* 改变主题色变量 */
$--color-primary: teal;

$--color-info: #3794FF;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-upload__input {
  display: none!important;
}